<div class="time-logs">
  @for (day of days.keys(); track $index) {
    @let timeLogs = days.get(day);
    <div class="day">
      <div class="title">
        <h3>
          {{day | date: 'EEEE, MMMM d y'}}
        </h3>
        <div class="title-actions">
          @if (!loading) {
            <app-time-log-sum [timeLogs]="timeLogs"/>
            <nz-tag [class.clickable-tag]="isEditable(day)" (click)="openEditModal(day)"><span nz-icon nzType="edit"></span></nz-tag>
          }
        </div>
      </div>
      <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzParagraph]="{rows: 3}" [nzTitle]="null">
        <div class="logs">
        @for (timeLog of timeLogs; track $index) {
          <div class="tag">
            <nz-tag>{{timeLog.timeSpent | secondsToHours}}</nz-tag>
          </div>
            <a [href]="timeLog.issue.webUrl" target="_blank">{{timeLog.issue.title}}</a>
        }
        </div>
      </nz-skeleton>
    </div>
  }
</div>
