<div class="select">
  <nz-select [(ngModel)]="selectedUser" [nzShowSearch]="true">
    @for (user of users; track user.id) {
      <nz-option [nzValue]="user" [nzLabel]="user.name"/>
    }
  </nz-select>

  <nz-select [(ngModel)]="iteration" [nzShowSearch]="true">
    @for (iteration of iterations; track iteration.id) {
      <nz-option [nzValue]="iteration" [nzLabel]="iteration.startDate + ' -> ' + iteration.dueDate"/>
    }
  </nz-select>
</div>

<app-time-log-chart [iteration]="iteration" [user]="selectedUser"/>
