<nz-layout class="layout">
  <nz-sider #sider nzWidth="250px" nzTheme="dark">
    <div class="logo"></div>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <li nz-submenu nzTitle="Iterations" nzIcon="retweet" nzOpen="true">
        <ul>
          @for (iteration of iterationService.iterations(); track iteration.id) {
            <li [nzSelected]="iterationService.selectedIteration() === iteration" nz-menu-item (click)="iterationService.selectedIteration.set(iteration)">{{ iteration | iterationFormat }}</li>
          }
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [style.margin-left]="sider.nzWidth" class="right-layout">
    <nz-content>
      <router-outlet/>
    </nz-content>
  </nz-layout>
</nz-layout>
